@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Montserrat:wght@800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #155389;
    --primary-color-2: #212f3f;
    --head-color: #84c6ff;
    --body-color: #018b45;
    --border-color: #e5e5e5;
    --title-color: #002248;
    --text-color: #222;
    --text-opa-color: rgba(0,0,0,0.6);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus{
  outline: none;
}

img{
    width: 100%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.section{
    padding: 60px 0;
}

.section__feature{
    background-color: #f3f5f7;
}

.section__head{
    background-color: #19734e;
    padding: 16px 0;
}

/* Slick */

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 3px;
}

.slick-dots li button{
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    transition: .3s;
    border: none;
}

.slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    color: transparent;
}

.slick-dots li.slick-active {
  width: 16px;
}

.slick-dots li.slick-active button{
  background-color: var(--primary-color);
  width: 16px;
}

.slick-dots li button:before{
    width: 10px;
    height: 10px;
    line-height: 10px;
    content: "";
}



.slick-arrow{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0,-50%);
    cursor: pointer;
    background: #fff;
    font-size: 20px;
    transition: .3s;
    z-index: 9;
}
.slick-arrow:hover{
    background: var(--primary-color);
    color: #fff;
}

.banner__slider .slick-arrow{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  color: #fff;
}

.banner__slider .slick-arrow:hover{
  background: rgba(0, 0, 0, 0.5);
}

.slick-prev{
    right: 200px;
}
.slick-next{
    right: 250px;
}

.next-arrow {
    right: 10px;
}
.prev-arrow{
    left: 10px;
}



.breadcrumb{
    position: relative;
    padding: 10px 40px;
    background: #f5f5f5;
    border-bottom: 2px solid #fff;
}

.breadcrumb ul{
    display: flex;
    align-items: center;
    gap: 18px;
}
.breadcrumb ul li{
    position: relative;
}
.breadcrumb ul li::after{
    content: "";
    position: absolute;
    top: 5px;
    right: -10px;
    width: 1px;
    height: 10px;
    background: #bbb;
    transform: rotate(20deg);
}
.breadcrumb ul li:last-child::after{
    background: transparent;
}
.breadcrumb ul li a{
    display: inline-block;
    font-weight: 300;
    font-size: 10px;
}
.breadcrumb ul li a.active{
    color: var(--primary-color);
}



/* Flex */

.flex{
    display: flex;
}

.col-lg-6, .col-6{
    width: 50%;
}

.col-lg-8{
    width: 66.66667%;
}

.col-lg-4{
    width: 33.33333%;
}